<div id="highlights" class="container">
	<% f.each_with_index do |highlight, index| %>
		<% if index == 0 %>
			<div class="highlight four columns alpha">
		<% elsif index == (f.length - 1) %>
			<div class="highlight four columns omega">
		<% else %>
			<div class="highlight four columns">
		<% end %>
			<div class="icon">
				<%= image_tag highlight.icon_image_url %>
			</div>
			<h2><%= highlight.title %></h2>
			<p><%= highlight.body %></p>
		</div>
	<% end %>
</div>

